<launch>
  <!-- 第一处路口使用已实测的单路口坐标。 -->
  <arg name="stop_x" default="1.5856393575668335"/>
  <arg name="stop_y" default="0.5012828707695007"/>
  <arg name="stop_qz" default="-0.017359118678415685"/>
  <arg name="stop_qw" default="0.9998493191469946"/>
  <arg name="cross_x" default="2.9678547382354736"/>
  <arg name="cross_y" default="0.43797147274017334"/>
  <arg name="cross_qz" default="-0.004938376552505628"/>
  <arg name="cross_qw" default="0.9999878061441678"/>

  <!-- 其余点位来自 2026-10-01 的 code/路径点.md；A/B 观察点以 TF 实测值为基准，向图下移 0.10 米、图右移 0.20 米试调。 -->
  <arg name="first_corner_x" default="3.824002265930176"/>
  <arg name="first_corner_y" default="0.5524806976318359"/>
  <arg name="first_corner_qz" default="0.7105965273343292"/>
  <arg name="first_corner_qw" default="0.7035997266488895"/>
  <arg name="next_corner_x" default="3.624973773956299"/>
  <arg name="next_corner_y" default="1.540183663368225"/>
  <arg name="next_corner_qz" default="-0.9999627453743581"/>
  <arg name="next_corner_qw" default="0.008631793751969744"/>
  <arg name="area_middle_x" default="2.900"/>
  <arg name="area_middle_y" default="1.700"/>
  <arg name="area_middle_qz" default="-0.701"/>
  <arg name="area_middle_qw" default="0.713"/>
  <arg name="second_corner_x" default="2.0103862285614014"/>
  <arg name="second_corner_y" default="1.41770339012146"/>
  <arg name="second_corner_qz" default="0.7093058728328143"/>
  <arg name="second_corner_qw" default="0.7049008290283673"/>
  <arg name="second_stop_x" default="2.132756233215332"/>
  <arg name="second_stop_y" default="2.3429512977600098"/>
  <arg name="second_stop_qz" default="0.7130028121783379"/>
  <arg name="second_stop_qw" default="0.701161172503"/>
  <arg name="second_cross_x" default="2.1445207595825195"/>
  <arg name="second_cross_y" default="3.8558530807495117"/>
  <arg name="second_cross_qz" default="0.9999972397584217"/>
  <arg name="second_cross_qw" default="0.002349569223860622"/>

  <node pkg="robot_navigation" type="single_intersection_mission.py"
        name="two_intersection_mission" output="screen" required="true">
    <param name="two_intersection_enabled" type="bool" value="true"/>
    <param name="goal_timeout" value="60.0"/>
    <param name="green_timeout" value="120.0"/>
    <param name="poll_period" value="0.2"/>
    <param name="stop_settle_time" value="1.0"/>
    <param name="stop_x" value="$(arg stop_x)"/>
    <param name="stop_y" value="$(arg stop_y)"/>
    <param name="stop_qz" value="$(arg stop_qz)"/>
    <param name="stop_qw" value="$(arg stop_qw)"/>
    <param name="cross_x" value="$(arg cross_x)"/>
    <param name="cross_y" value="$(arg cross_y)"/>
    <param name="cross_qz" value="$(arg cross_qz)"/>
    <param name="cross_qw" value="$(arg cross_qw)"/>
    <param name="first_corner_x" value="$(arg first_corner_x)"/>
    <param name="first_corner_y" value="$(arg first_corner_y)"/>
    <param name="first_corner_qz" value="$(arg first_corner_qz)"/>
    <param name="first_corner_qw" value="$(arg first_corner_qw)"/>
    <param name="next_corner_x" value="$(arg next_corner_x)"/>
    <param name="next_corner_y" value="$(arg next_corner_y)"/>
    <param name="next_corner_qz" value="$(arg next_corner_qz)"/>
    <param name="next_corner_qw" value="$(arg next_corner_qw)"/>
    <param name="area_middle_x" value="$(arg area_middle_x)"/>
    <param name="area_middle_y" value="$(arg area_middle_y)"/>
    <param name="area_middle_qz" value="$(arg area_middle_qz)"/>
    <param name="area_middle_qw" value="$(arg area_middle_qw)"/>
    <param name="second_corner_x" value="$(arg second_corner_x)"/>
    <param name="second_corner_y" value="$(arg second_corner_y)"/>
    <param name="second_corner_qz" value="$(arg second_corner_qz)"/>
    <param name="second_corner_qw" value="$(arg second_corner_qw)"/>
    <param name="second_stop_x" value="$(arg second_stop_x)"/>
    <param name="second_stop_y" value="$(arg second_stop_y)"/>
    <param name="second_stop_qz" value="$(arg second_stop_qz)"/>
    <param name="second_stop_qw" value="$(arg second_stop_qw)"/>
    <param name="second_cross_x" value="$(arg second_cross_x)"/>
    <param name="second_cross_y" value="$(arg second_cross_y)"/>
    <param name="second_cross_qz" value="$(arg second_cross_qz)"/>
    <param name="second_cross_qw" value="$(arg second_cross_qw)"/>
  </node>
</launch>
